<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {{>header}}
</head>
<body>
    {{>navbar}}

    {{!--  Content --}}
    <section class="top1">
        <div class="container sec1 mt-5">
             <div class="row">
                {{!--  col1 --}}
                <div class="col-12 col-md-4 ">
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo nam quia labore dignissimos rem voluptatum necessitatibus harum.</p>
                    <button type="button" class="btn btn-primary">More</button>
                </div>
                <div class="col-12 col-md-4">
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo nam quia labore dignissimos rem voluptatum necessitatibus harum.</p>
                    <button type="button" class="btn btn-primary">More</button>
                </div>
                <div class="col-12 col-md-4">
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo nam quia labore dignissimos rem voluptatum necessitatibus harum.</p>
                    <button type="button" class="btn btn-primary">More</button>
                </div>
             </div>
        </div>
    </section>

    <section class="top2 mt-5 bg-primary">
        <div class="container mt-5 mb-5 text-white">
            <div class="text-center">
                    <h2>Team Member</h2>
                    <p>Mega tempus sed amet</p> 
                </div>

                <div class="row mt-5">
                    <div class="col-12 col-md-2 items">
                    <div class="content-span">
                        <span>Marima</span> <br>
                     <span>Co-founder</span>
                     </div>
                </div>
                <div class="col-12 col-md-2 items">
                    <div class="content-span">
                        <span>Marima</span> <br>
                     <span>Co-founder</span>
                     </div>
                </div>
                <div class="col-12 col-md-2 items">
                    <div class="content-span">
                        <span>Marima</span> <br>
                     <span>Co-founder</span>
                     </div>
                </div>
                <div class="col-12 col-md-2 items">
                     <div class="content-span">
                        <span>Marima</span> <br>
                     <span>Co-founder</span>
                     </div>
                </div>
            </div>
            {{!-- <div>Headder</div> --}}
        </div>
    </section>
</body>
</html>