{{!--  nav bar --}}

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Click</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/registration">Registration</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
{{!-- header --}}
<header style="background: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                  <div class="te text-center text-white">
                        <h2>Welcome To MERN BackEnd Cource</h2>
                         <p>The Best Registeration Learn</p>
                  </div>
            </div>
         </div>
    </div>
</header>